<div class="container mt-4">
  <h2 *ngIf="!editMode">Book Appointment</h2>
  <h2 *ngIf="editMode">Edit Appointment</h2>

  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Patient Name</label>
      <input class="form-control w-50" formControlName="patientName">
    </div>
    <div class="mb-3">
      <label>Doctor Name</label>
      <input class="form-control w-50" formControlName="doctorName">
    </div>
    <div class="mb-3">
      <label>Start Time</label>
      <input type="datetime-local" class="form-control w-50" formControlName="startTime">
    </div>
    <div class="mb-3">
      <label>End Time</label>
      <input type="datetime-local" class="form-control w-50" formControlName="endTime">
    </div>
    <button class="btn btn-primary" type="submit">
      {{ editMode ? 'Update' : 'Book' }}
    </button>
  </form>
</div>
